$color1: #ff7b00;
$color2: #000000;

body{
    background-color: $color2;
    .header{
        background-color: $color1;
        
        .dropdown-menu{
            background-color: $color1;
        }
        .nav-link{
            font-size: 18px;
        }
    }
}

.logo{
    display: flex;
    justify-content: center;
}
.texto-lorem{
    color: $color1;
    font-size: small;
    padding-left: 650px;
    padding-right: 650px;
    text-align: center;
}


footer {
    background-color: $color2;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Cinzel', serif;
    
    .footerContactos {
        text-align: center;
        
        .textoContactos {
            color: $color1;
            font-family: 'Cinzel', serif;
        }
    }
}
.card{
    margin: auto;

    .card-body{
        color: $color1;
        text-align: center;
    }

    .titulos1{
        color: $color1;
    }
 }